@font-face {
    font-family: "Balsamiq Sans";
    src: url("../fonts/BalsamiqSans-Regular.ttf");
}

:root {
    --fw-normal: 400;
    --fw-bold: 700;

    
    --clr-imperial-red: rgb(230, 57, 70);
    --clr-honeydew: rgb(241, 250, 238);
    --clr-powder-blue: rgb(168, 218, 220);
    --clr-celadon-blue: rgb(69, 123, 157);
    --clr-prussian-blue: rgb(29, 53, 87);

    --clr-black: rgb(0, 0, 0);
    --clr-white: rgb(255, 255, 255);
    --clr-green: rgb(85, 166, 48);
    --clr-purple: rgb(57, 60, 112);
    --clr-lilac: rgb(160, 165, 235);
    
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Balsamiq Sans', cursive;
}

body {
    background-image: url('../images/plants.jpg');
    background-position: center;
    background-size: cover;
}

.hide {
    display: none;
}
.correct {
    background-color: var(--clr-green);
}
.wrong {
    background-color: var(--clr-imperial-red);
}

.quiz {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height:80%;
    /* min-height:50%; */
    border: 3px solid var(--clr-black);
    border-radius: 0.5rem;
    background-image: url('../images/stripes.jpg');
    background-position: center;
    background-size: cover;
    /* opacity: 0.8; */
}


/* Glavni meni - pocetni prikaz */
.header {
    font-size: 1.6em;
    color: var(--clr-white);
    text-align: center;
    margin: 10px;
}
.btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.btn {
    display: block;
    padding: .8em;
    border-radius:0.5em;
    color: white;
    font-size: 1.2rem;
    transition: 200ms ease-in-out all;
}
.btn i {
    float: left;
    margin-right: 10px;
}
.start {
    background-color: var(--clr-prussian-blue);
    border: 3px solid var(--clr-prussian-blue);
}
.results {
    margin-top: 0.4em;
    background-color: var(--clr-green);
    border: 3px solid var(--clr-green);
}
.btn:hover {
    color: white;
}
.start:hover {
    background-color: transparent;
}
.results:hover {
    background-color: transparent;
}
.image {
    position: absolute;
}
.icon-sun,
.icon-rainbow {
    top: 50px;
}
.image img {
    width: 100px;
    height: 100px;
}
.icon-sun {
    left: 60px;
    animation: rotation 10s infinite linear;
}
.icon-rainbow {
    right: 60px;
    animation: movement 3s infinite linear;
}
.icon-flower {
    bottom: -10px;
    left: 25%;
}
.icon-bird {
    bottom: -20px;
    right: 30%;
}


/* Container za kviz */
.question {
    position: relative;
    width: 90%;
    height:0%;
    top: 10%;
    left: 5%;
    border-radius: 0.5rem;
    background-color: var(--clr-purple);
    box-shadow: 10px 10px 10px 10px var(--clr-black);
    animation: slide  ease 3.5s forwards;
}

/* Za sva pitanja */
.pitanje {
    position: relative;
    height: 30%;
    padding: 0 1rem;
    padding-top: 1rem;
    font-size: 20px;
    color: var(--clr-white);
}
.odgovor {
    position: relative;
    height: 35%;
}

/* Pitanja T1*/
#odgovoriT1 {
    height: 50%;
}
#odgovoriT1 button {
    display: block;
    width: 50%;
    margin: 5px auto;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    display: block;
}
#odgovoriT1 button b {
    float: left;
}

/* Pitanja T2*/
.base-timer {
    position: relative;
    height: 80px;
    width: 80px;
    margin: 0 auto;
}
.base-timer__circle {
    fill: none;
    stroke: none;
}
.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: var(--clr-honeydew);
}
.base-timer__label {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--clr-white);
}
.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    stroke: var(--clr-green);
}
.base-timer__path-remaining.green {
    stroke: var(--clr-green);
}
.base-timer__path-remaining.orange {
    stroke: rgb(255, 166, 0);
}
.base-timer__path-remaining.red {
    stroke: var(--clr-imperial-red);
}
.base-timer__svg {
    transform: scaleX(-1);
}
#warnMessage {
    height: 90px;
    padding: 5px;
    font-weight: bold;
    color: var(--clr-imperial-red);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.yourAnswer {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    border-radius: 6px;
    color: var(--clr-black);
    border: 3px solid var(--clr-white);
    background: var(--clr-white);
    transition: border .3s ease;
}
#correctAnswer {
    color: var(--clr-white);
    text-align: center;
    font-size: 18px;
}
#correctAnswer b {
    color: var(--clr-green);
    letter-spacing: 0.1em;
}

/* Pitanja T3*/
.pitanje ul {
    margin-top: 15px;
    text-align: center;
}
.pitanje ul li {
    display: inline-block;
    width: 40px;
    margin: 5px;
    padding: 0.2em 0;
    background-color: var(--clr-white);
    font-size: 12px;
    color: var(--clr-lilac);
    font-weight: bold;
    border: 5px solid var(--clr-lilac);
    border-radius: 6px;
    box-shadow: 0 0 3px 3px white;
}


/* Kontrolna dugmad */
.submitAnswer {
    position: relative;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nextQuestion {
    font-size: 16px;
    padding: 8px 22px;
    margin: 0 5px 0 5px;
    border: 3px solid var(--clr-white);
    border-radius: 40px;
    background-color: transparent;
    color: var(--clr-white);
    cursor: pointer;
}
.nextQuestion:hover {
    border-color: var(--clr-white);
    background-color: var(--clr-white);
    color: var(--clr-purple);
}
.nextQuestion:active {
    transform: scale(0.90);
}
#confirmAnswer i {
    float: left;
    margin-right: 10px;
}
#nextQuestionType1 i,
#nextQuestionType2 i {
    float: right;
    margin-left: 10px;
}


/* Container za listu rezultata */
#resultsList .header {
    font-size: 1.4em;
}
.container {
    margin: 0 auto;
    width: 50vw;
    height: 65%;
    color: var(--clr-white);
    overflow-y: auto;
}
.container ul li {
    border-bottom: 1px dashed var(--clr-imperial-red);
    margin: 15px 0;
}
.container ul li span {
    float: right;
}


/* Unos rezultata */
#message {
    text-align: center;
}
.question form {
    width: 50%;
    padding: 25px;
    margin: 0 auto;
    border: 5px double var(--clr-white);
    border-radius: 0.8rem;
    box-shadow: 0 0 25px 10px var(--clr-lilac);
}
.question form div {
    position: relative;
    padding: 15px 0 0;
    margin-bottom: 15px;
    left: 20%;
}
.question form input {
    width: 60%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 0; 
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--clr-white);
    color: var(--clr-white);
}
.question form input::placeholder {
    color: transparent;
}
.question form input:placeholder-shown ~ label {
    top: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-white);
    cursor: text;
}
.question form label, 
.question form input:focus ~ label {
    position: absolute;
    top: 0;
    display: block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:  var(--clr-lilac);
}
.question form input:focus {
    outline: none;
    border-bottom: 1px solid var(--clr-lilac);
}
#submitForm {
    display: block;
    margin: 0 auto;
    padding: .8em;
    background-color: var(--clr-white);
    border: none;
    border-radius: 8px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: rgb(33, 35, 61);
    box-shadow: 4px 6px rgb(33, 35, 61);
    transition: all 0.3s ease;
    cursor: pointer;
}
#submitForm i {
    float: left;
    margin-right: 10px;
}
#submitForm:active {
    transform: translate(4px, 6px);
    box-shadow: 1px 1px rgb(33, 35, 61);
}
#submitForm:hover {
    background-color: rgba(33, 35, 61, 0.6);
    color: var(--clr-white);
}
#error-message {
    visibility: hidden;
    color: var(--clr-imperial-red);
    text-align: center;
    margin-bottom: 1rem;
}

/* css za pogodi sliku */

.imgCenter{
    position: relative;
    top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   max-width: 50%;
   height:30%;
}

#pitanjeT4{
    height: 12%;
}

#odgovoriT4{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15%;
}

.btnT4{
    
    margin-right: 20px;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     
}

#next4{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20%;
}

/* animations */
@keyframes slide {
    0% {
        height: 0;
    }
    100% {
        height: 80%;;
    }
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
}

@keyframes movement {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
}
