@font-face {
    font-family: "Balsamiq Sans";
    src: url("../fonts/BalsamiqSans-Regular.ttf");
}

:root {
    --fw-normal: 400;
    --fw-bold: 700;

    
    --clr-imperial-red: rgb(230, 57, 70);
    --clr-honeydew: rgb(241, 250, 238);
    --clr-powder-blue: rgb(168, 218, 220);
    --clr-celadon-blue: rgb(69, 123, 157);
    --clr-prussian-blue: rgb(29, 53, 87);

    --clr-black: rgb(0, 0, 0);
    --clr-white: rgb(255, 255, 255);
    --clr-green: rgb(85, 166, 48);
    --clr-purple: rgb(57, 60, 112);
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Balsamiq Sans', cursive;
}

body {
    background-image: url('../images/plants.jpg');
    background-position: center;
    background-size: cover;
}

.quiz {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height:80%;
    /* min-height:50%; */
    border: 3px solid var(--clr-black);
    border-radius: 0.5rem;
    background-image: url('../images/stripes.jpg');
    background-position: center;
    background-size: cover;
    /* opacity: 0.8; */
}

.header {
    font-size: 1.6em;
    color: var(--clr-white);
    text-align: center;
    margin: 15px;
}

.btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.btn {
    display: block;
    padding: .8em;
    border-radius:0.5em;
    color: white;
    font-size: 1.2rem;
    transition: 200ms ease-in-out all;
}
.btn i {
    float: left;
    margin-right: 10px;
}
.start {
    background-color: var(--clr-prussian-blue);
    border: 3px solid var(--clr-prussian-blue);
}
.results {
    margin-top: 0.4em;
    background-color: var(--clr-green);
    border: 3px solid var(--clr-green);
}
.btn:hover {
    color: white;
}
.start:hover {
    background-color: transparent;
}
.results:hover {
    background-color: transparent;
}

.question {
    position: relative;
    width: 90%;
    height:0%;
    top: 10%;
    left: 5%;
    border-radius: 0.5rem;
    background-color: var(--clr-purple);
    box-shadow: 10px 10px 10px 10px var(--clr-black);
    animation: slide  ease 3.5s forwards;
}

#timer{
    text-align: center;
    font-size: 1.5em;
}

.pitanje {
    position: relative;
    height: 30%;
    padding: 0 1rem;
    padding-top: 1rem;
    font-size: 20px;
    color: var(--clr-white);
}

.odgovor {
    position: relative;
    height: 40%;
    text-align: center;
}

.submitAnswer {
    position: relative;
    height: 10%;
    text-align: center;
}

.nextQuestion {
    font-size: 16px;
    padding: 11px 22px;
    border: 3px solid var(--clr-white);
    border-radius: 40px;
    background-color: transparent;
    color: var(--clr-white);
    cursor: pointer;
}
.nextQuestion:hover {
    border-color: var(--clr-white);
    background-color: var(--clr-white);
    color: var(--clr-purple);
}
.nextQuestion:active {
    transform: scale(0.90);
}

.yourAnswer {
    width: 50%;
    margin-top: 5rem;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    border-radius: 6px;
    color: var(--clr-black);
    border: 3px solid var(--clr-white);
    background: var(--clr-white);
    transition: border .3s ease;
}

#odgovoriT1 button {
    width: 50%;
    margin: 5px auto;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    display: block;
}
#odgovoriT1 button b {
    float: left;
}

.hide {
    display: none;
}
.correct {
    background-color: var(--clr-green);
}
.wrong {
    background-color: var(--clr-imperial-red);
}

.container {
    margin: 0 auto;
    width: 50vw;
    height: 70%;
    color: var(--clr-white);
    overflow-x: auto;
}
.container ul li {
    border-bottom: 1px dashed var(--clr-imperial-red);
    margin: 15px 0;
}
.container ul li span {
    float: right;
}


.image {
    position: absolute;
}
.icon-sun,
.icon-rainbow {
    top: 50px;
}
.image img {
    width: 100px;
    height: 100px;
}
.icon-sun {
    left: 60px;
    animation: rotation 10s infinite linear;
}
.icon-rainbow {
    right: 60px;
    animation: movement 3s infinite linear;
}
.icon-flower {
    bottom: -10px;
    left: 25%;
}
.icon-bird {
    bottom: -20px;
    right: 30%;
}

.base-timer {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.base-timer__circle {
    fill: none;
    stroke: none;
}
.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: var(--clr-honeydew);
}
.base-timer__label {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--clr-white);
}
.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    stroke: var(--clr-green);
}
.base-timer__path-remaining.green {
    stroke: var(--clr-green);
}
.base-timer__path-remaining.orange {
    stroke: rgb(255, 166, 0);
}
.base-timer__path-remaining.red {
    stroke: var(--clr-imperial-red);
}

.base-timer__svg {
    transform: scaleX(-1);
}
#warnMessage {
    height: 90px;
    padding: 5px;
    font-weight: bold;
    color: var(--clr-imperial-red);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}




/* animations */
@keyframes slide {
    0% {
        height: 0;
    }
    100% {
        height: 80%;;
    }
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
}

@keyframes movement {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
}
