.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container a {
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    border: 3px solid rgb(155, 218, 119);
    border-radius: 25px;
    width: 300px;
    color: rgb(10, 88, 36);
}
.container a span {
    float: right;
}
.container a:hover {
    background-color: rgb(155, 218, 119);
    color: black;
}