body {
    background-image: url("../img/p11.jpeg");
    background-repeat: no-repeat;
    background-size: 1550px 722px;
    font-family: 'Verdana', sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    user-select: none;
}

svg {
    position: relative;
    top: 420px;
    left: 25px;
    font-weight:bold;
    max-width:600px;
    height:62px;
    user-select: none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/bg.jpg");
    background-size: 1550px 722px;
    background-repeat: no-repeat;
}

.myCard {
    display: inline-block;
}

img {
    position: relative;
    border-radius: 25px;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
}

.open {
    display: none;
}

.end {
    top: 20px;
    display: none;
    width: 100%;
    height: 100%;
}

.end1 {
    top: 20px;
    display: none;
    width: 100%;
    height: 100%;
}
.end2 {
    top: 20px;
    display: none;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 2000px) {
    body {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 27.74%;
        margin-right: 27.74%;
    }
}

@media only screen and (max-width: 1280px) {
    body {
        margin-top: 85px;
        margin-bottom: 85px;
        margin-left: 20%;
        margin-right: 20%;
    }
}

.btn {
    position: relative;
    display: block;
    border: 5px solid black;
    text-align: center;
    color: black;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 30px;
    width: 35%;
    height: 30px;
    padding: 10px;
    margin: auto;
}

.scene {
    box-sizing: border-box;
    width: 100%;
    display: none;
}

.level1start {
    position: absolute;
    top: 385px;
    left: 480px;
    width: auto;
    height: auto;
}

.level1start:hover{
    animation: animate 2s  alternate infinite;
}

.level2start {
    position: absolute;
    top: 271px;
    left: 1199px;
    width: auto;
    height: auto;
}

.level2start:hover{
    animation: animate 2s  alternate infinite;
}


.level3start {
    position: absolute;
    top: 86px;
    left: 243px;
    width: auto;
    height: auto;
}

.level3start:hover{
    animation: animate 2s  alternate infinite;
}


@keyframes animate{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(38deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}
