@font-face {
    font-family:nova ;
    src: url(fonts/NovaRound-Regular.ttf);
    
}

.header{
    background-color: cornflowerblue;
    color: midnightblue;
    
    
}



#main{
    position: relative;
    top: 3em;
}

.results{
    margin-top: 0.3em;
}

.button{
    width: 10em;
}
*{
    font-family: nova;
    font-size: 125%;
    
}

body {background-color:rgb(29,26,26);}