body {
    background-image: url('../images/background.jpg');
    user-select: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    position: absolute;
    top: 6%;
    left: 11%;
    width: 77%;
    height: 81%;
    background-color: transparent;
}

.text-loading {
    position: absolute;
    font-size: 45px;
    top: 330px;
    left: 455px;
    color: black;
    font-family: 'Brush Script MT', cursive;

}

.sr {
    font-size: 31px;
    top: 330px;
    left: 434px;
}

.box {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.cupcakeCircle, .cupcakeInner, .cupcakeCore, .cupcakeCircle1, .cupcakeInner1, .cupcakeCore1,
.cupcakeCircle2, .cupcakeInner2, .cupcakeCore2 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}

.cupcake, .letter, .cupcakeCircle, .cupcakeInner, .cupcakeCore, .cupcakeCircle1, .cupcakeInner1, .cupcakeCore1,
.cupcakeCircle2, .cupcakeInner2, .cupcakeCore2 {
    flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    -o-flex: none;
}

.letter, .cupcakeCircle, .cupcakeCircle1, .cupcakeCircle2 {
    align-self: center;
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;

}

.cupcakeCircle {
    align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -ms-justify-content: center;
    height: 8px;
    width: 8px;
    margin-top: -23px;
    margin-left: 124px;
    background-color: #222;
}

.lte {
    margin-top: -18px;
    margin-left: 167px;
}

.cupcakeInner {
    align-self: center;
    -ms-align-self: center;
    justify-content: center;
    -ms-justify-content: center;
    height: 50%;
    width: 50%;
    background-color: rgb(0, 216, 215);
    animation: cupcakeAnimate 500ms alternate ease-in-out infinite;

}

.cupcakeCore {
    align-self: center;
    -ms-align-self: center;
    height: 15%;
    width: 15%;
    background-color: #222;
    animation: coreAnimate 1s alternate ease-in-out infinite;

}


.cupcakeCircle1 {
    align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -ms-justify-content: center;
    height: 8px;
    width: 8px;
    margin-top: -8px;
    margin-left: 135px;
    background-color: #222;
}

.lte1 {
    margin-top: -8px;
    margin-left: 177px;
}

.cupcakeInner1 {
    align-self: center;
    -ms-align-self: center;
    justify-content: center;
    -ms-justify-content: center;
    height: 50%;
    width: 50%;
    background-color: rgb(0, 216, 215);
    animation: cupcakeAnimate 500ms alternate ease-in-out infinite;

}

.cupcakeCore1 {
    align-self: center;
    -ms-align-self: center;
    height: 15%;
    width: 15%;
    background-color: #222;
    animation: coreAnimate 1s alternate ease-in-out infinite;

}


.cupcakeCircle2 {
    align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -ms-justify-content: center;
    height: 8px;
    width: 8px;
    margin-top: -8px;
    margin-left: 145px;
    background-color: #222;
}

.lte2 {
    margin-top: -8px;
    margin-left: 187px;
}

.cupcakeInner2 {
    align-self: center;
    -ms-align-self: center;
    justify-content: center;
    -ms-justify-content: center;
    height: 50%;
    width: 50%;
    background-color: rgb(0, 216, 215);
    animation: cupcakeAnimate 500ms alternate ease-in-out infinite;

}

.cupcakeCore2 {
    align-self: center;
    -ms-align-self: center;
    height: 15%;
    width: 15%;
    background-color: #222;
    animation: coreAnimate 1s alternate ease-in-out infinite;

}

@-webkit-keyframes cupcakeAnimate {
    to {
        height: 90%;
        width: 90%;
    }
}

@keyframes cupcakeAnimate {
    to {
        height: 90%;
        width: 90%;
    }
}

@-webkit-keyframes coreAnimate {
    to {
        height: 90%;
        width: 90%;
    }
}

@keyframes coreAnimate {
    to {
        height: 90%;
        width: 90%;
    }
}



.start {
    position: absolute;
    left: 360px;
    bottom: 156px;

}



.images {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

img {
    width: 50%;
    height: 50%;
}

.img {
    position: relative;
    top: -80px;
    left: 100px;
    height: 60%;
    width: 60%;
}

.answers {
    position: relative;
    top: -55px;
    left: 29px;
    margin: auto;
    display: table;
}

.answer {
    background-color: #1d6e6f;
    color: lightblue;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    max-width: 140px;
    min-width: 140px;
    max-height: 20px;
    min-height: 30px;
    margin: 5px 5px;
    padding-top: 10px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}


.en {
    font-size: 14px;
    max-width: 143px;
    min-width: 143px;
    
}

.lt {
    margin-top: -80px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.952);
    background-color: transparent;
    display: none;
}

.correct {
    margin-top: -110px;
    font-size: 15px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.952);
    background-color: transparent;
    display: none;
    
    
}

.finish-message {
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: rgb(182, 237, 255);
    width: 500px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    font-size: 17px;
}

.finish-message h1, h3 {
    text-align: center;
}

.finish-message button {
    display: block;
    width: 140px;
    height: 40px;
    background-color: #1d6e6f;
    color: lightblue;
    text-align: center;
    border: 8px solid #1d6e6f;
    cursor: pointer;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 auto;
    font-size: medium;
}

@media (min-width: 1281px) and (orientation: landscape) {
    body {
        background-position: center;
    }
}